/*회사소개*/
@charset "utf-8";


section.show-co {
    margin-top: 100px;
    width: 100%;
    background-color: #111;
}

.show-co .show-wrap {
    width: 100%;
    max-width: 1280px;
    margin: 80px auto 0;
    position: relative;
    height: 500px;
    padding-bottom: 200px;
    display: flex;
}

.show-wrap:after {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    background: url(../imges/comm/showbox_logo.png) no-repeat left bottom;
    background-size: 300px;
    transform: rotate(-10deg);
    bottom: 160px;
    left: -18%;
    opacity: 0.3;
}

.show-wrap .show-iframe {
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 40;
}

.show-iframe iframe {
    margin-top: 80px;
    width: 100%;
    max-width: 640px;
    height: 100%;
    max-height: 360px;
}

.show-wrap p {
    color: #ccc;
    font-weight: 300;
    line-height: 2;
    box-sizing: border-box;
    padding-left: 50px;
    word-break: keep-all;
    flex: 1;
    position: relative;
    top: 200px;
}

.show-wrap p a {
    display: inline;
    color: #ff9900;
}

.show-wrap p a:hover {
    color: palegreen;
}
